.all-products{
    flex-wrap: wrap;
    gap: 5rem;
    background-color: white;
    margin-top: 3rem;
padding-bottom: 3rem;
padding-top: 1rem;
}
.feature-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature-products-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    /* width: 100%; */    
}
.product-best3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.product-best3-img{
    width: 100px;
    height: 100px;
}
.product-best3-img img{
    width: 100%;
    height: 100%;
}
.product-best3-details{
    width: 120px;

}
.product-best3-title{
    font-size: small;
    text-align: center;
    height: 40px;
}
.product-best3-price{
    text-align: center;
    font-size: smaller;
}


@media screen and (max-width : 895px ) {
    .feature-products{
        justify-content:none;
        align-items: normal;
    }
    .feature-products-list{
        flex-direction: row;
        gap: 3rem;
    }
    .product-best3{
        flex-direction: column;
    }
    .all-products{
        gap: 0px;
    }
}
@media screen and (max-width : 675px ) {
    .feature-products-list{
        gap: 1rem;
    }
}
@media screen and (max-width : 565px) {
    .feature-products-list {
        flex-direction: column;
    }
    .all-products-title{
        width: min-content;
        text-align: center;
    }
    .feature-products{
        align-items: center;
    }
    .all-products{
        gap: 1rem;
    }
}
@media screen and (max-width : 415px) {
    .feature-products-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
@media screen and (max-width : 275px) {
    .feature-products-list {
        gap: 1rem;
    }
}