.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-top: 1px solid #58cbe6;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 1rem;
}
.footer-title{
    gap: 0.5rem;
}
.footer-logo{
    height: 50px;
    width: 50px;
}
.footer-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.footer-title h1{
    color: #58cbe6;
}
.footer-title h1,.middle-card-side h1,.middle-location-side h1,.right-side h1{
    font-size: 1.5rem;
    font-weight: 500;
}
.footer-description , .location-details div div{
    font-size: small;
}
.middle-card-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.fa-cards{
    height: auto;
    width: 35px;
}
.middle-location-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.location-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4rem;
    padding-left: 25px;
}
.location-side-icon{
    height: 20px;
    padding-right: 3px;
    width: auto;
}
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.right-side h1{
    text-align: center;
}
.app-store{
    gap: 1rem;
}
.app-store img{
    width:120px;
}
@media screen and ( max-width : 795px ){
    .footer-title h1, .middle-card-side h1, .middle-location-side h1, .right-side h1 {
        font-size: 1.2rem;
    }
    .footer-logo {
        height: 40px;
        width: 40px;
    }   
    .footer-description, .location-details div div {
        font-size: 0.7rem;
    }
    .location-side-icon{
        height: 15px;
    }
    .fa-cards{
        height: auto;
        width: 28px;
    }
    .app-store img {
        width: 90px;
    }
}

@media screen and (max-width : 675px) {
    .left-side {
        gap: 0px;
        align-items: flex-start;
    }
    .cards{
        gap: 0.3rem;
        /* width: 20px; */
    }
    .fa-cards{
        height: auto;
        width: 20px;
    }
    .footer-title h1, .middle-card-side h1, .middle-location-side h1, .right-side h1 {
        font-size: 1rem;
    }
    .footer-logo {
        height: 35px;
        width: 35px;
    }
    .app-store img {
        width: 80px;
    }
    .location-details{
        padding-left: 15px;
    }

}
@media screen and (max-width : 595px) {
    .left-side {
        width: 25%;
    }
    .footer-title {
        gap: 0.2rem;
    }
    .footer-title h1, .middle-card-side h1, .middle-location-side h1, .right-side h1 {
        font-size: 0.8rem;
    }
    .footer-description, .location-details div div {
        font-size: 0.6rem;
    }
    .middle-location-side{
        width: 30%;
    }
    .app-store img {
        width: 60px;
    }
    
}
/* @media screen and (max-width : 465px) {
    .footer-title h1, .middle-card-side h1, .middle-location-side h1, .right-side h1 {
        font-size: 0.7rem;
    }   
    .footer-description, .location-details div div {
        font-size: 0.5rem;
    }
    .location-side-icon{
        height: 10px;
    }
    .app-store img {
        width: 50px;
    }

} */
@media screen and (max-width : 465px) {
    

}
/* @media screen and (max-width : 395px) {
    .footer-title h1, .middle-card-side h1, .middle-location-side h1, .right-side h1 {
        font-size: 0.6rem;
    }
    .footer-description, .location-details div div {
        font-size: 0.4rem;
    }
    .location-side-icon{
        height: 8px;
    }
    .app-store img {
        width: 40px;
    }
    .fa-cards{
        height: auto;
        width: 15px;
    }
} */