#header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid #ddd;
    overflow-x: hidden;
}
.social-tab{
    padding: 7px 10px 7px 10px;
}
.right-social-tab{
    float: right;
    gap: 35px;
}
.left-social-tab a{
    font-size: small;
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.social-account{
    gap: 10px;
}
.social-icons{
    gap: 20px;
}
.left-social-tab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0rem 1rem 1rem 0rem;
    float: left;
    gap: 10px;
}
.social-account a{
    font-size: small;
}
.social-icons a{
    font-size: medium;
}
.gayab{
    display: none;
}
.menu-icon{
    display: none;
    font-size: larger;
}
.menu{
    display: none;
    position: fixed; /* Sticks the element to a fixed position on the screen */
    top: 3.5rem;       /* Distance from the top of the screen */
    right: 4rem;     /* Distance from the right edge of the screen */
    z-index: 100;    /* Ensures it appears above other elements */
    font-size: small;
    width: 10rem;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    background-color: #f8f8f8;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
}

/* hover effect */
.fac-icon :hover {
    color:blue ;
}
.git-icon :hover {
    color: red;
}
.glab-icon :hover {
    color: orange;
}
.msg-icon :hover {
    color: purple;
}
.twitt-icon :hover {
    color:brown ;
}
.twit-icon :hover {
    color: blue;
}
.pin-icon :hover {
    color: red;
}
.wats-icon :hover {
    color: green;
}
.linkh-icon :hover {
    color:blue ;
}
.goog-icon :hover {
    color: red;
}
.gith-icon :hover {
    color:black ;
}
.inst-icon :hover {
    color: red;
}
.my-account:hover{
    color: #58cbe6;
}
.login:hover{
    color: #58cbe6;
}

/* Navbar Styling */
.navbar-comp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        padding-left: 7px;
        padding-right: 7px;
    }
.navbar-left-tab{
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-img{
    height: 60px;
    width: auto;
    margin-top: 10px;
}
.web-name{
    line-height: 5px;
}
.web-name-title{
    font-size: 30px;
    color: #58cbe6;
}
.web-name-description{
    font-size: small;
}
.navbar-right-tab{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* background-color: beige; */
}
.search-input{
    height:35px;
    width: 70%;
    border: 2px solid #58cbe6;
}
.submit{
    font-size: 16px;
    background-color: #58cbe6;
    color: white;
    width: 25%;
    height: 100%;
    border: none;
}
#search-products{
    border: none;
    color: #747474;
    font-size: smaller;
    padding-left: 10px;
    width: 75%;
}
.right-tab-cart-details{
    gap: 20px;
}
.add-to-cart-details{
    color: #747474;
    font-size: 25px;
}
.cart-total-price{
    font-size: small;
    width:40px;
}
.count-total-cart{
    transform: translate( 17px, 5px);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #58cbe6;
    color: white;
    font-size: small;
}
.shopping-bag{
    display: none;
    position: relative;
    top: 5px;
    left:px ;
}
.shopping-bag a{
    font-size: 30px;
}

/* NavPages styling */
/* General Navigation Styles */

.nav-container {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top:1rem ;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    transition: all 0.2s linear;
  }


  .nav-container a {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    
}

/* Link Styles */
.inactive-link {
    font-size: 14px;
    color: #333333;
}

.active-link {
      font-size: 14px;
      color:#58cbe6;
    }

  /* Dropdown Styles */
  .dropdown {
    position: relative;
  }
  
  .dropdown-button {
    background-color: white;
    color: #333333;
    gap: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    padding: 8px 0px;
    font-size: 14px;
    cursor: pointer;
  }
  .dropdown-button:hover{
    color: #58cbe6;
  }
  .dropdown-menu {
    position: fixed;
    /* top: 40px; */
    /* left: 0; */
    background-color: white;
    border-top:2px solid #58cbe6;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: all 1s linear;
    width: max-content;
  }
  
  .dropdown-item {
    display: block;
    padding:15px 35px;
    text-decoration: none;
    color: #333333;
    font-size: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .dropdown-item:hover {
    color: #58cbe6;
  }
  
  .dropdown-item:last-child {
    border-bottom: none;
  }
  .navbar-handler{
    display: none;
  }
  

  /* header after scrolling */

  .header-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    transition: all 0.4s linear; 
}
.toggle-navbar-comp{

}
.gayab{
    display: none;
}
.toggle-navbar-left-tab{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1.7rem;
    padding-top: 3px;
    gap: 7px;
}
.toggle-logo-img{
    height: 40px;
    width: auto;
}
.toggle-web-name-title{
    font-size: 20px;
    color: #58cbe6;
}
.toggle-nav-container{
    border: none;
    margin-top: 0px;
    margin-right: 1rem;
}



@media screen and ( max-width : 1145px ){
    .navbar-comp{
        margin-top: 3rem;
    }
    #header{
        position:absolute;
    }
    .deals-container{
        padding-top: 15rem !important; 
    }
}
@media screen and ( max-width : 985px ){
    .navbar-comp{
        margin-top: 4rem;
    }
    .my-account ,  .login {
        display: none;
    }
    .menu-icon,.menu{
        display: block;
    }
    .deals-container{
        padding-top: 16rem !important; 
    }
}
@media screen and ( max-width : 885px ){
    .navbar-right-tab{
        width: 400px;
    }
}
@media screen and ( max-width : 765px ){
    .navbar-comp{
        display: flex;
        flex-direction: column;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        border-top: 1px solid #ddd;
        margin-top: 0px;
    }
    .navbar-handler{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem; 
        padding: 9px 0px 5px 0px;
        border: none;
    }
    .header-nav-pages-container{
        margin-top: 2rem;
        border-top: 1px solid #3333;
    }
    .deals-container{
        padding-top: 20rem !important; 
    }
}
@media screen and ( max-width : 695px ){
    .social-icons{
        display: none;
    }   
    .menu{
        top: 2rem;       /* Distance from the top of the screen */
        right: 1rem;  
    }
    .left-social-tab{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 78%;
    }
}
@media screen and ( max-width : 500px ){
    .navbar-comp{
        margin-top: 5rem;
    }
    .navbar-right-tab {
        width: 350px;
    }
    .add-to-cart-details , .cart-total-price{
        display: none;
    }
    .shopping-bag{
        display: block;
    }
    .navbar-right-tab{
        justify-content: center;
    }
}
@media screen and ( max-width: 330px ) {
    .navbar-comp{
        margin-top: 4rem;
    }
    .navbar-right-tab{
        width: 300px;
    }
    .web-name-title{
        font-size: 20px;
    }
    .web-name-description{
        font-size: 10px;
        /* line-break:loose; */
    }
    .logo-img {
        height: 50px;
        width: auto;
        margin-top: 10px;
    }
    .search-input {
        height: 30px;
    }
    .navbar-right-tab {
        width: 250px;
    }
    .shopping-bag a {
        font-size: 20px;
    }
    .left-social-tab a {
        font-size: 10px;
    }
    .deals-container{
        padding-top: 18rem !important; 
    }
}
/* @media screen and ( max-width: 270px ) {
    .navbar-comp{
        margin-top: 5rem;
    }
    .navbar-right-tab{
        width: 180px;
    }
} */
